.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container div {
  margin: 1em 0;
  border: 1px solid white;
  color: white;
  width: 70%;
  text-align: center;
  cursor: pointer;
  padding: 0.5em
}

select {
  margin: 1em 0;
  border: 1px solid white;
  width: 70%;
  color: white;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  padding: 0.5em
}

.codeSection {
  width: 80%;
  overflow: scroll;
}

.contractAddress {
  display: flex;
  width: 80%;
  align-items: center;
  overflow: auto;
}